/*
Custom CSS styles that override base theme go here.
*/

.header-block .course-venue-date {
  font-size:22px;
}

.front .views-field-field-hero-image,
.page-accreditation .views-field-field-hero-image {
  width:100%;
  float:none;
}

.front .hero-copy,
.page-accreditation .hero-copy {
  display:none;
}

.header-block p.course-name a {
  line-height: auto;
}

.header-block {
background-image:none;
padding-right:0;
}

.online-reg, .print-reg {
  display:block;
}

.block-course-info .earlybird,
.block-course-info .earlybird-expired {
  background-color:#830808;
}

.bio-full,
.close-me,
.open .read-more {
  display:none;
}

.open .close-me {
  display:block;
}

.brochure-block .contact-link {
  display:none;
}

